.app {
  margin: 0 auto;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 400px;
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 700;
  color: #1f1f1f;
}

.pillarContainer {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 35px;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
}

.status {
  font-size: 30px;
  margin-top: 20px;
}

.delay_section {
  margin-top: 300px;
}

.delay_section_title {
  font-size: 20px;
  font-weight: 600;
}

button {
  font-size: 14px;
  width: 50px;
}
